---
- name: Run Doctrine migrations
  shell: chdir={{ansistrano_release_path.stdout}}
    SYMFONY_ENV={{symfony_env}} {{symfony_php_path}} app/console doctrine:migrations:migrate --no-interaction {{symfony_doctrine_options}}
